
html{
    font-family: 'Open Sans',sans-serif;
    background: whitesmoke;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    background: grey;
}
h2{
    font-size: 24px;
}
#container{
    position: relative;
    display: flex;
}
#profile{
    flex: 15%;
    display: block;
    position: relative;
    margin: 5% 2% 0 10%;
    width: 100%;
    height: 100%;
}
#info-cards{
    flex: 55%;
    display: block;
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    height: 100%;
}
#image{
    position: relative;
    overflow: hidden;
}
#image,#profile-photo{
    /* position: relative; */
    /* width: 80px;
    height: 80px; */
    border-radius: 5px;
}
#image > a{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5) !important;
    height: 100%;
    width: 100%;
    display: none;
}
#image > a > i{
    -webkit-text-stroke: 1px #ffffffdd;
    padding: 40%;
}
#image:hover a{
    display: block;
}
#name{
    font-size: 23px !important;
    line-height: 20px !important;
}
#about,.card > ul > li{
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    width: 100%;
}
#about{
    font-size: 20px !important;
    padding: 0 !important;
}
#name, #about > p{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
#email{
    font-size: 15px !important;
    font-weight: bold !important;
    font-family: 'Cutive Mono',monospace;
}
#college,#email,#year-graduation,#education,#more-about,#telephone,#fax{
    color: #555;
    font-size: 13.5px;
}
strong,span{
    color: black;
    font-size: 16px;
}
#social-links,#about{
    display: inline-block;
}
#social-links{
    margin-bottom: 12px;
}
#social-links a{
    margin: 0 10px;
}
#edit-intro{
    display: block;
    color:#097bbf;
    font-family: 'Nunito', sans-serif;
}
.fab{
    font-size: 1.1em;
}
/* .fab,.fas{
    color: whitesmoke;
} */
#about > a{
    top: 4px;
    right: 8px;
}
.edit{
    top: 19px;
    right: 10px;
}
#about > a, .edit{
    position: absolute;
    font-size: 15px !important;
}
.stroke-transparent {
 -webkit-text-stroke: 1px #000;
 -webkit-text-fill-color: transparent;
}
.blue{
    color: #097bbf !important;
}
.stroke-transparent-blue {
 -webkit-text-stroke: 1px #097bbf;
 -webkit-text-fill-color: transparent;
}
.card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
    font-size: 17px;
}
.card > p{
    color: #0e141e;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
}
.card > p > i{
    font-size: 18px;
}
.card > a{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}

.card > ul{
    list-style-type: none;
}
.tags{
    font-size: 17px;
    font-weight: bolder;
    margin: 12px 0;
}
.tags ~ a{
    display: none !important;
}
.tags span{
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
}
.tags span span{
    /* color: #738f93; */
    font-style: italic;
}
.tags span a{
    color: #097bbf;
}

@media screen and (max-width:1090px){
    #profile{
        margin-left: 5%;
    }
}
@media print, screen and (max-width:850px){
    #container{
        display: block;
    }
    #profile{
        width: 90%;
    }
    .card{
        margin: 0 5%;
        margin-bottom: 30px;
    }
}
.simple-icons--notion {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M4.459 4.208c.746.606 1.026.56 2.428.466l13.215-.793c.28 0 .047-.28-.046-.326L17.86 1.968c-.42-.326-.981-.7-2.055-.607L3.01 2.295c-.466.046-.56.28-.374.466zm.793 3.08v13.904c0 .747.373 1.027 1.214.98l14.523-.84c.841-.046.935-.56.935-1.167V6.354c0-.606-.233-.933-.748-.887l-15.177.887c-.56.047-.747.327-.747.933zm14.337.745c.093.42 0 .84-.42.888l-.7.14v10.264c-.608.327-1.168.514-1.635.514c-.748 0-.935-.234-1.495-.933l-4.577-7.186v6.952L12.21 19s0 .84-1.168.84l-3.222.186c-.093-.186 0-.653.327-.746l.84-.233V9.854L7.822 9.76c-.094-.42.14-1.026.793-1.073l3.456-.233l4.764 7.279v-6.44l-1.215-.139c-.093-.514.28-.887.747-.933zM1.936 1.035l13.31-.98c1.634-.14 2.055-.047 3.082.7l4.249 2.986c.7.513.934.653.934 1.213v16.378c0 1.026-.373 1.634-1.68 1.726l-15.458.934c-.98.047-1.448-.093-1.962-.747l-3.129-4.06c-.56-.747-.793-1.306-.793-1.96V2.667c0-.839.374-1.54 1.447-1.632'/%3E%3C/svg%3E");
  }